$color_1: #333;
$color_2: #007bff;
$color_3: #fff;
$color_4: white;
$color_5: #666;
$color_6: #f5c542;
$color_7: #000;
$color_8: #555;
$color_9: red;
$color_10: #6c63ff;
$color_11: #a3876a;
$color_12: #e60000;
$color_13: #4caf50;
$color_14: black;
$color_15: #ffd700;

$background-color_1: #fff;
$background-color_2: transparent;
$background-color_3: white;
$background-color_4: rgba(0, 0, 0, 0.5);
$background-color_5: black;
$background-color_6: #f0f0f0;
$background-color_7: #f9f9f9;
$background-color_8: #000;
$background-color_9: #e67e22;
$background-color_10: #007bff;
$background-color_11: #0056b3;
$background-color_12: #f4f4f4;
$background-color_13: #4caf50;
$background-color_14: #45a049;
$background-color_15: #f44336;
$background-color_16: #e53935;
$background-color_17: #ffffff;
$background-color_18: #f3fef3;
$border-color_1: #4caf50;
